################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/training/Angular/day10/FileSystem/node_modules
